h1 {
  text-align: center;
  margin-bottom: 20px;

}

section {
  margin-bottom: 20pc;
}

.passing {
  color: green;
  font-weight: bold;
}

.failing {
  color: red;
  font-weight: bold;
}

.box {
  border: 2px solid black;
  margin-top: 10px;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 20px;
  background: #1e1e2f;
  color: white;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

/* Navigation list */
.nav-links {
  list-style: none;
  display: flex;
  gap: 40px;     /* spacing between menu items */
  margin: 0;
  padding: 0;
}

/* Individual links */
.nav-links a {
  text-decoration: none;
  color: #cfcfcf;
  font-size: 17px;
  transition: 0.3s;
}

/* Hover Effect */
.nav-links a:hover {
  color: #ffffff;
  border-bottom: 2px solid #ffffff;
  padding-bottom: 3px;
}

/* Active Menu (optional) */
.nav-links a.active {
  color: #fff;
  border-bottom: 2px solid #fff;
}

