<div class="glass-container">
  <div class="form-card">
    <h3>Join the Community</h3>

    <form #myForm="ngForm" (ngSubmit)="onSubmit()">

      <div class="input-group">
        <label>Username</label>
        <input type="text" name="username" [(ngModel)]="username"
               #userRef="ngModel" required minlength="4" placeholder="Enter Username">
        <small *ngIf="userRef.invalid && userRef.touched" class="error-text">
          Username is required (min 4 characters).
        </small>
      </div>

      <div class="input-group">
        <label>Email</label>
        <input type="email" name="email" [(ngModel)]="email"
               #emailRef="ngModel" required email placeholder="Enter Email">
        <small *ngIf="emailRef.invalid && emailRef.touched" class="error-text">
          Please enter a valid email address.
        </small>
      </div>

      <div class="input-group">
        <label>Password</label>
        <input type="password" name="password" [(ngModel)]="password"
               #passRef="ngModel" required pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\\d).{8,}$"
               placeholder="Enter Password">
        <small *ngIf="passRef.invalid && passRef.touched" class="error-text">
          Must be 8+ chars with Uppercase, Lowercase, and Number.
        </small>
      </div>

      <div class="input-group">
        <label>Select Role</label>
        <select name="role" [(ngModel)]="role" #roleRef="ngModel" required>
          <option value="">-- Select Role --</option>
          <option value="Admin">Admin</option>
          <option value="User">User</option>
          <option value="Guest">Guest</option>
        </select>
        <small *ngIf="roleRef.invalid && roleRef.touched" class="error-text">
          Please select a role.
        </small>
      </div>
      <div class="input-group">
  <label>Comments</label>
  <textarea
    name="comments"
    [(ngModel)]="comments"
    rows="3"
    placeholder="Enter your notes here...">
  </textarea>
</div>


      <button type="submit" class="pastel-btn" [disabled]="myForm.invalid">
        Submit
      </button>
    </form>
  </div>
</div>
